label {
    width: 100px;
    font-size: 17px;
    font-weight: bold;
   -webkit-appearance: textfield;
}
form{
   
  width: auto;
  display: inline-block;
}
h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: bold;
}
#content {
    display: inline-block;
    width: 400px;
    padding: 35px;
    position: absolute;
    right: 35%;
    left: 35%;
    top: 25%;
    background:slategray;
}

#caixaColor {
    width: 80px;
    border: 1px solid #000;
    height: 80px;
    float: right;
    position: relative;
    margin-left: 25px;
    top: 6px;
}

.value{

  width: 35px;

}